@import "~bootstrap/scss/bootstrap";
@import '__reset.scss';
@import '__sprites.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$color-primary: #2ecc71;
$color-bg-white: #ffffff;
$color-bg-dark: #34495e;
$color-bg-grey: #ecf0f1;
$color-font-grey: #bdc3c7;
$shadow: rgba(0, 0, 0, 0.25);

body {
    background-color: #fff;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, ul, li, input {
    font-family: Roboto, sans-serif;
    
}


.wrapper {
    margin: 0 auto;
    max-width: 1280px;
}
.pageWrapper {
    display: grid;
    // grid-template-columns: 1fr 25%;
    grid-template-rows: 127px 1fr 1fr;
    grid-gap: 0px;
    grid-template-areas: 
    "header"
    "content"
    "footer"
}
header {
    height: 127px;
    width: 100vw;
    background-color: grey;
}
section {
    height: auto;
    width: 100vw;
    height: 1000px;
}
footer {
    height: 320px;
    width: 100vw;
    background-color: grey;
}