@import "~bootstrap/scss/bootstrap";
@import '__reset.scss';
@import '__sprites.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$color-primary: #2ecc71;
$color-bg-white: #ffffff;
$color-bg-dark: #34495e;
$color-bg-grey: #ecf0f1;
$color-font-grey: #bdc3c7;
$shadow: rgba(0, 0, 0, 0.25);

html {
    max-width: 100vw;
    overflow-x: hidden; 
}

body {
    background-color: #fff;
    font-size: 18px;
    font-family: Rubik, sans-serif;
    // overflow-x: hidden; 
}



.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 35px 0 35px;
    height: 100%;
    overflow: hidden;
}
.wrapperBig {
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}
.clearFix {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.pageWrapper {
    display: grid;
    // grid-template-columns: 1fr 25%;
    grid-template-rows: 127px 1fr 1fr;
    grid-gap: 0px;
    grid-template-areas: 
    "header"
    "content"
    "footer"
}

// -------------
// Header styles
// -------------

header {
    position: relative;
    height: 127px;
    max-width: 100vw;
    // background-color: grey;
}
.row_middle {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    overflow: visible;
}
.logoHeader {
    position: relative;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    width: 34px;
    height: 34px;
    a {
        display: block;
    }
}


.menu {
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    ul {
        display: block;
        width: auto;
        // background-color: red;
        li {
            display: inline-block;
            padding: 10px 22.5px 10px 22.5px;
            a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: black;
                &:hover {
                    color: blue;
                }
            }
        }
    }
    .navBtnBlock {
        display: none;
        position: relative;
        top: 3px;
        margin-left: 30px;
        button {
            transform: scale(1.6);
            color: #484ce6;
        }
    }
}

// Side blue button styles

.sideButtonBlock {
    position: absolute;
    width: 380px;
    height: 231px;
    background-image: url(/assets/img/background_header.png);
    top: 0;
    right: 0;
    display: inline-block;
    a {
        position: absolute;
        top: 53px;
        right: 50px;
        color: white;
        display: inline-block;
        span {
            display: inline-block;
        }
    }
}
@media (max-width: 1230px) {
    .sideButtonBlock {
        width: 320px;
        top: -35px;
        a {
            top: 88px;
            right: 30px;
        }
    }
}


// Header queries

@media (max-width: 1230px) {
    .menu ul {
        padding-right: 40px;
    }
}
@media (max-width: 1010px) {
    .menu ul {
        padding-right: 60px;
    }
}
@media (max-width: 885px) {
    .menu ul {
        padding-right: 90px;
    }
}
@media (max-width: 795px) {
    .menu ul {
        display: none;
    }
    .menu .navBtnBlock {
        display: block;
    }
}

// ------------------
// Section one styles
// ------------------

.section_one {
    height: auto;
    min-height: 814px;
}
.descriptionBlock {
    margin-top: 45px;
    max-width: 520px;
    h1 {
        font-weight: bold;
        font-size: 2.75rem;
        line-height: 60px;
        text-transform: uppercase;
    }
    h3 {
        font-weight: normal;
        font-size: 1.95rem;
        // line-height: 60px;
        text-transform: uppercase;
    }
    p {
        margin-top: 35px;
        // font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 35px;
        strong {
            font-weight: 400;
        }
    }
}
.imageBlock {
    margin-top: 150px;
}

@media (max-width: 700px) {
    .section_one {
        .row {
            flex-direction: column-reverse;
        }
        .descrCol {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .imageCol {
            max-height: 300px;
        }
        .imageBlock {
            margin-top: 0px;
            position: relative;
            max-height: inherit;
            height: auto;
            img {
                float: none;
                position: relative;
                top: -100px;
                left: -130px;
                // left: 50%;
                // transform: translate(-50%, 0);
                transform: scale(0.5);
                margin: 0 auto;
                z-index: -1;
            }   
        }
      
    }
    
}

// Buttons styles

.btn_main {
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-radius: 35px;
    border: 1px solid #484CE6;
    font-size: 1.38rem;
    box-shadow: 4px 9px 0px blue;
    span {
        top: 3px;
        margin-left: 10px;
        display: inline-block;
    }
    &:hover {
        color: blue;
        box-shadow: 4px 7px 0px blue;
        // font-size: 1.25rem;
        transform: scale(0.99);
    }
    &:hover span {
        transform: scale(0.99);
    }
    
}
// Button for section one
.btn_main.mainSection {
    margin: 50px 0 70px 0;
}
// Button for section three (startups)
.btn_main.startupSection {
    position: relative;
    float: right;
    top: -40px;
    right: 146px;
}

// ------------------
// Section two styles
// ------------------

.section_two {
    position: relative;
    height: 300px;
    min-height: 300px;
    background-color: #FFD255;
    p {
        position: absolute;
        left: -80px;
        // max-width: 1350px;
        width: 100%; 
        font-weight: bold;
        font-size: 80px;
        line-height: 95px;
        text-transform: uppercase;
        color: #3e3f42;
       
        span {
            opacity: 0.3;
        }
    }
}

// --------------------
// Section three styles
// --------------------

.vectorBlock_right {
    position: relative;
    float: right;
    margin-top: 53px;
    width: auto;
    height: auto;
}
.vectorBlock_left {
    position: relative;
    float: left;
    top: -10px;
    left: 0;
    width: auto;
    height: auto;
}


.textBlock {
    width: 550px;
    position: absolute;
    h2 {
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 47px;
        text-transform: uppercase;
        margin-bottom: 25px;
    };
    h2.leftHeading {
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 47px;
        // text-align: center;
        text-transform: uppercase;
        color: white;
    };
    p {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 30px;
    };
    p.leftHeading {
        font-size: 1.65rem;
        font-weight: 400;
        line-height: 40px;
        color: white;
    };
    span {
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 47px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #484CE6;
        margin: 15px 0 15px 0;
    }
}
.textBlock_right {
    top: 91px; 
    right: 90px;
}
.textBlock_left {
    top: 91px;
    left: 115px;
}

.vector_blue_small {
    position: absolute;
    left: 0px;
    top: 45%;
    transform: translate(0,-50%);
    color: linear-gradient(69.42deg, #393CC7 8.85%, #196BFF 95.9%);
    // transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 0;
}
.vector_blue_big {
    position: relative;
    z-index: -1;
}

// Section three Media queries

@media (max-width: 800px) {
    .vectorBlock_right {
        right: -60px;
        float: right;
        
    }
    .vectorBlock_left {
        // right: -15px;
    }
    .vector_grey {
        width: 1200px;
        // transform: rotate(180deg);
    }
    .vector_blue_small {
        width: 150px;
    }
    .vector_blue_big {
        width: 750px;
    }
    .textBlock {
        max-width: calc(100vw - 70px);
        position: absolute;
        h2 {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 25px;
        };
        h2.leftHeading {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 47px;
            text-transform: uppercase;
            color: white;
            margin-bottom: 15px;
        };
        p {
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 30px;
        };
        p.leftHeading {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 32px;
            color: white;
        };
        span {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 47px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #484CE6;
            margin: 15px 0 15px 0;
        }
    }
    .textBlock_right {
        top: 91px; 
        right: 70px;
        svg {
            width: 600px;
        }
    }
    .textBlock_left {
        top: 100px;
        left: 35px;
    }
}
@media (max-width: 645px) {
    .vectorBlock_right {
        left: -105px;
        right: 0;
        float: left;
        
    }
    .vectorBlock_left {
        // right: -15px;
    }
    .vector_grey {
        width: 1200px;
        transform: rotate(180deg);
    }
    .vector_blue_small {
        width: 150px;
    }
    .vector_blue_big {
        width: 750px;
    }
    .textBlock {
        max-width: calc(100vw - 70px);
        position: absolute;
        h2 {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 25px;
        };
        h2.leftHeading {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 47px;
            text-transform: uppercase;
            color: white;
            margin-bottom: 15px;
        };
        p {
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 30px;
        };
        p.leftHeading {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 32px;
            color: white;
        };
        span {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 47px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #484CE6;
            margin: 15px 0 15px 0;
        }
    }
    .textBlock_right {
        position: absolute;
        top: 91px; 
        left: 105px;
        svg {
            width: 600px;
        }
    }
    .textBlock_left {
        top: 100px;
        left: 35px;
    }
}
@media (max-width: 501px) {
    .vectorBlock_right {
        left: -125px;
        right: 0;
        float: left;
    }
    
    .vector_grey {
        width: 1200px;
    }
    .vector_blue_small {
        width: 150px;
    }
    .vector_blue_big {
        width: 750px;
    }
    .textBlock {
        max-width: calc(100vw - 70px);
        position: absolute;
        h2 {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 25px;
        };
        h2.leftHeading {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 47px;
            text-transform: uppercase;
            color: white;
            margin-bottom: 15px;
        };
        p {
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 30px;
        };
        p.leftHeading {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 32px;
            color: white;
        };
        span {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 47px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #484CE6;
            margin: 15px 0 15px 0;
        }
    }
    .textBlock_right {
        // position: absolute;
        top: 91px; 
        left: 125px;
        
        
    }
    .textBlock_left {
        top: 100px;
        left: 35px;
    }
}

// -------------
// Footer styles
// -------------

footer {
    // height: 320px;
    // width: 100vw;
    // background-color: grey;
    .footerHeading {
        margin: 82px 0 61px 0;
        font-weight: bold;
    }
    ul {
        display: block;
        padding-bottom: 62px;
        li {
            padding: 10px 0 10px 0;
            line-height: 21px;
            font-weight: 400;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: blue;
                    text-decoration: none;
                }
            }
        }
    }
    ul.privacyMenu {
        padding-bottom: 40px;
    }
    ul.socialMedia {
        padding-bottom: 33px;
        cursor: default;
        li {
            display: inline-block;
            margin: 0 10px 0 10px;
            padding: 0;
            &:first-child {
                margin: 0 10px 0 0;
            }
            &:last-child {
                margin: 0 0 0 10px;
            }
            a {
               cursor: pointer;
               &:hover .sprite {
                   transform: scale(1.05);
               }   
            }
        }
    }
    .logoFooter {
        display: block;
        margin: 82px 0px 49px 0px;

    }
    .copyrightBlock {
        border-top: 1px solid rgba(50, 54, 87, 0.2);
    }
    .copyright {
        text-align: center;
        font-size: 0.65rem;
        line-height: 14px;
        text-transform: uppercase;
        color:  #3E3F42;
        padding: 10px 0 26px 0;
    }
}
